@{
    ViewData["Title"] = "Home Page";
}


<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ViewData["Title"] - Filmiah</title>

    <link rel="stylesheet" href="~/css/main_page.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="background_container">
        <img src="~/images/background.jpg" alt="BackgroundImage" class="background_image">
        <h2 class="overlay_text">Welcome to <br><span class="filmiah">Filmiah</span></h2>
    </div>

    <section class="about-section">
        <div class="about-container">
            <div class="image-container">
                <img src="~/images/princess.jpg" alt="ate_princess" />
            </div>
            <div class="text-container">
                <h4>FILMIAH studio's</h4>
                <h1>Filmiah Studio – Where Creativity Comes to Life</h1>
                <p>
                    Welcome to Filmiah Studio, a creative space dedicated to bringing your ideas to reality. Whether you're looking for high-quality photography, professional videography, or a full production experience, Filmara Studio provides the perfect blend of innovation, style, and storytelling.
                </p>
                <a href="https://www.facebook.com/profile.php?id=100069805509083" target="_blank">
                    <button class="learn-more-btn">LEARN MORE</button>
                </a>
            </div>
        </div>
    </section>
</body>
</html>

